<f:layout name="Index" />

<f:section name="content">
		<h2><f:translate source="Main" package="TYPO3.FLOW3">Authentication required</f:translate></h2>
		<f:flashMessages as="flashMessages">
			<f:for each="{flashMessages}" as="flashMessage">
				<div class="alert-box alert">
					{flashMessage}
				</div>
			</f:for>
		</f:flashMessages>
		<f:form action="authenticate" method="post">
			<div class="twelve columns">
				<div class="row collapse">
					<div class="two mobile-one columns">
						<span class="prefix">username</span>
					</div>
					<div class="ten mobile-three columns">
						<f:form.textfield name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" tabindex="1" />
					</div>
				</div>
			</div>
			<div class="twelve columns">
				<div class="row collapse">
					<div class="two mobile-one columns">
						<span class="prefix">password</span>
					</div>
					<div class="ten mobile-three columns">
						<f:form.password name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" tabindex="2" />
					</div>
				</div>
			</div>
			<div>
				<f:form.submit value="{f:translate(id: 'authentication.login', package: 'TYPO3.FLOW3')}" class="radius button"/>
			</div>
		</f:form>
</f:section>