<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>
		Apple Survey
	</title>
	<f:base />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<link rel="stylesheet" href="{f:uri.resource(path: 'Survey.css')}" type="text/css" media="all" />
	<link rel="stylesheet" href="{f:uri.resource(path: 'Survey.min.css')}" type="text/css" media="all" />
	<!--<link rel="stylesheet" href="{f:uri.resource(path: 'jqm-docs.css')}" type="text/css" media="all" />-->
	<script src="{f:uri.resource(path: 'jquery-1.7.1.min.js')}"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>
<body>
<div data-role="page">
	<f:render section="content" />
</div>
</body>
</html>