<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>
			Action Control List Tutorial
		</title>
		<f:base />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'stylesheets/foundation.min.css')}">
		<link rel="stylesheet" href="{f:uri.resource(path: 'stylesheets/foundation.css')}">
		<link rel="stylesheet" href="{f:uri.resource(path: 'stylesheets/app.css')}">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="row">
				<f:render partial="Navigation" />
				<div id="mainContent" class="seven column" ><f:render section="content"/></div>
			</div>
		</div>
	</body>

	 <!--Included JS Files (Compressed)-->
	<script src="{f:uri.resource(path: 'javascripts/foundation.min.js')}">
	</script>
	<!--Initialize JS Plugins-->
	<script src="{f:uri.resource(path: 'javascripts/app.js')}"></script>

</html>